# Web framework
fastapi==0.115.2
uvicorn[standard]==0.30.6

# Database
sqlalchemy==2.0.35
psycopg2-binary==2.9.9

# Data validation
pydantic==2.9.2
pydantic-settings==2.4.0

# Security (JWT & password hashing)
python-jose==3.3.0
passlib[bcrypt]==1.7.4

# CORS middleware
starlette==0.38.4

# Optional: Debugging & Dev tools
python-dotenv==1.0.1

python-multipart
kafka-python==2.0.2
aiokafka==0.10.0